h1 {
	color: red;
}
p {
	color: black;
	font-size: 13pt;
	font-weight: bolder;
}
div {
	color: rgb(32, 32, 90);
	font-weight: bolder;
}
a {
	color: salmon;
	font-size: 13pt;
}

a:hover {
	color: rgba(50, 90, 58, 90);
	text-decoration: underline;
}
.center {
	text-align: center;
}
