<main>
    <div class="card-wide">
            <h2>Login</h2>
            <form id="login-form" name ="loginForm" action="/login" method="POST">
                <label>
                    <input type="text" name="username" id="username" class = "inputFields" placeholder="Enter your Username" />  
                </label>
                <label>
                    <input type="password" name="password" id="password" class = "inputFields" placeholder="Enter your Password" />
                </label>
                <button type="submit" class="btn">Login</button>
            </form>
            <a href="/signup">Need to register? Click here to sign-up</a>
        </div>
    <div>
        {{#if hasErrors}}
        <div class="error">
            {{msg}}
        </div>
        {{/if}}
    </div>
</main>