<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        <h1>USER LOGIN</h1>
    </title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
        {{{body}}}
</body>
</html>