<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Muzaffarhusain</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/js/form.js"></script>
</head>
<body>
    <h1>PALINDROME CHEKER</h1>
    <main>
        <form id="palinform" name="palinform">
            <textarea id="phrase" name="phrase" placeholder="Example: nan"></textarea>
        <input type="button" value="submit" onclick="addToAttempts(); return false;">
        </form>
        <h2>Phrases already Checked:</h2>
        <ul id="attempts"></ul>
    </main>
    <footer>
        <p>Name: Muzaffarhusain Turak <br/>
            CWID: 10476985</p></footer>
</body>  
</html>